[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
psycopg2 = "*"
requests = "*"
beautifulsoup4 = "*"
django-celery-results = "*"
django-celery-beat = "*"
flower = "*"

[dev-packages]
